<!-- String  interpolation -->
<!-- <p>{{ "server" }} with id {{ taskId }} is {{ getTaskStatus() }}</p> -->

<!-- Property Binding & Event Binding -->
<!-- <label>Task Name {{ taskName }}</label> -->
<!-- <div> -->
<!-- <input
    type="text"
    class="form-control"
    [value]="taskName"
    (input)="handleUpdateTaskName($event)"
  /> -->
<!-- <input type="text" class="form-control" [(ngModel)]="taskName" /> -->
<!-- </div> -->
<!-- <button
  class="btn btn-primary"
  [disabled]="alloweNewTask"
  (click)="handleCreateTask()"
>
  Add task
</button> -->
<!-- <p>{{ taskCreationStatus }}</p> -->
<p
  [ngStyle]="{ color: userStatus === 'online' ? 'green' : 'red' }"
  [ngClass]="{ online: userStatus === 'online' }"
>
  user {{ user }} is {{ userStatus }}
</p>
<input type="text" [(ngModel)]="username" />
<button (click)="handleCreateUsername()" [disabled]="username ? false : true">
  Create User
</button>

<!--Build in directives  -->
<p *ngIf="userCreated; else noUser">
  User created successfully,username is {{ user }}
</p>
<ng-template #noUser>
  <p>No user created</p>
</ng-template>
